<!--<p>prospect works!</p>-->

<div class="eaw-layout">
  <div class="field-wrapper layout-section-main">
    <div class="field-header">
      <div></div>
      <button class="add-button add-field" (click)="onClick()">Add Field</button>
    </div>

    <div class="container">
<!--      <div class="prospect-field-list-header">-->
        <div class="prospect-field-label">Field Label</div>
        <div class="prospect-field-type">Type</div>
        <div class="prospect-field-checkbox">Active</div>
<!--      </div>-->

      <div class="field-container">
        <div class="individual-field prospect-field-list-header">
          <div class="field-sort">3</div>
          <div class="field-name">   field.name 3  </div>
          <div class="field-type"> field.fieldType 3 </div>
          <input type="checkbox" class="field-active"/>
        </div>

        <div class="individual-field prospect-field-list-header">
          <div class="field-sort">1</div>
          <div class="field-name">   field.name 1 </div>
          <div class="field-type"> field.fieldType 1 </div>
          <input type="checkbox" class="field-active"/>
        </div>

        <div class="individual-field prospect-field-list-header">
          <div class="field-sort">2</div>
          <div class="field-name">   field.name 2  </div>
          <div class="field-type"> field.fieldType 2 </div>
          <input type="checkbox" class="field-active"/>
        </div>

        <div>----------</div>
        <div class="individual-field prospect-field-list-header">
          <div class="field-sort" id="result" ></div>
          <div class="field-name">  </div>
          <div class="field-type">  </div>
          <input type="checkbox" class="field-active"/>
        </div>

      </div>

    </div>

  </div>
</div>
